<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title><%- locals.pageTitle %> | <%- locals.siteTitle %></title>
  <meta name="keywords" content="1对1，一对一，上海中考，小升初，高考，上海重点中学，上海中考分数线, 上海家教，一对一补习，一对一辅导，中考补习，在线教育，电子白板" />
  <meta name="description" content="理优教育是国内领先在在线1对1学习平台，汇聚全国金字塔顶尖的老师，独特的个性化课程定制系统，为全国的中学生提供针对性的学习辅导，免费课程预约请咨询：400-169-3070" />
  <meta http-equiv="content-language" content="zh-cn" />
  <meta name="Contact" content="电话:4006-303030" />
  <meta name="distribution" content="中国">
  <meta name="copyright" content="麦奇教育集团vipabc Inc.">
  <meta name="Author" content="vipabc英语" />
  <meta name="Generator" content="vipabc英语" />
  <link rel="canonical" href="http://www.leoedu.com/" />
  <link rel="shortcut icon" href="./img/favicon.ico" /><!-- IE address前ico图标 -->

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="fonts/iconfont.css">
  <link href="css/style.css" rel="stylesheet">
  <!--<link href="css/style2.css" rel="stylesheet"> -->
  <link href="css/components/service-block.css" rel="stylesheet">
  <link href="css/components/footer.css" rel="stylesheet">
  <link href="css/components/join-us.css" rel="stylesheet">
  <link href="css/components/download-app.css" rel="stylesheet">
  <link href="css/components/header.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements
  and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via
         file:// -->

  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link href="/css/owl.carousel.css" rel="stylesheet">
  <link href="/css/owl.theme.css" rel="stylesheet"/>
  <link href="/css/owl.transitions.css" rel="stylesheet"/>
  <style>#owl-home .item img{
      display: block;
      width: 100%;
      height: auto;
    }
  </style>

  <!-- 引入 ECharts 文件 -->
  <script src="/js/echarts.min.js"></script>

</head>
<body>
  <%- partial("partial/_header") %>
  <%- yield %>
  <%- partial("partial/_footer") %>

  <!-- javascript //-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/skrollr.min.js"></script>

  <script src="js/jquery.pin.min.js"></script>
  <script src="js/validator.min.js"></script>
  <script src="js/trial_courses_panel.js"></script>
  <script src="js/panel_init.js"></script>

  <script src="js/main.js"></script>
  <script src="js/service_block.js"></script>
  <script src="js/join_us.js"></script>
  <script src="js/download_app.js"></script>


</body>
</html>
