
<div class="container-fluid">
    <div class="download">
        <div class="banner">
            <div class="banner_in">
                <div class="pad_box">
                    <img src=<%- pad_png %> class="pad" />
                    <img src=<%- padStudent_png %> class="padStudent" />
                    <img src=<%- phone_png %> class="phone" />
                </div>
                <div class="btn">
                    <p><a href="download.html#" class="dlBtn student"></a></p>
                    <p><a href="download.html#" class="dlBtn parent"></a></p>
                    <p><a href="download.html#" class="dlBtn teacher"></a></p>
                </div>
                <div id="downBtn row" class="down down2">如何扫码下载</div>
            </div>
        </div>

        <div class="gif">
            <div class="gif_in row">
                <div class="step col-lg-3">
                    <img src=<%- step01_gif %> width="232" />
                    <p class="step01">打开QQ扫一扫功能</p>
                </div>
                <div class="step col-lg-3">
                    <img src=<%- step02_gif %> width="232" />
                    <p class="step02">对准理优1对1二维码扫一扫</p>
                </div>
                <div class="step col-lg-3">
                    <img src=<%- step03_gif %> width="232" />
                    <p class="step03">打开链接下载客户端</p>
                </div>
                <div class="step col-lg-3">
                    <img src=<%- step04_gif %> width="232" />
                    <p class="step04">选择对应端并点击安装</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="shadow"></div>

<%- partial("partial/_free-listen-modal") %>
<%- partial("partial/_service-block") %>



<div class="alert_download par_download container">
    <div class="row">
        <p class="title">家长端下载<a href="download.html#" class="close_button"><img src=<%- close_png %> /></a></p>
    </div>
    <div class="alert_load row">
        <div class="alert_downloadLeft col-sm-6">
            <h4>安装方法一：应用市场搜索安装</h4>
            <ul>
                <li>在（App Store\安卓应用市场）搜“理优1对1”，点“理优1对1”安装。</li>
            </ul>
        </div>

        <div class="alert_downloadRight col-sm-6">
            <h4>安装方法二：扫二维码安装</h4>
            <ul>
                <li>使用您iPhone的条码扫描程序，扫描下方的二维码，选择家长端进行下载。</li>
            </ul>
            <p align="center" style="margin-top:15px;"><img src=<%- m_parent_png %> width="122" /></p>
        </div>
    </div>
</div>

<div class="alert_download stu_download container">
    <div class="row">
        <p class="title">学生端下载<a href="download.html#" class="close_button"><img src=<%- close_png %> /></a></p>
    </div>
    <div class="alert_load row">
        <div class="alert_downloadLeft col-sm-6">
            <h4>安装方法一：应用市场搜索安装</h4>
            <ul>
                <li>在（App Store\安卓应用市场）搜“理优1对1”，点“理优1对1”安装。</li>
            </ul>
        </div>

        <div class="alert_downloadRight col-sm-6">
            <h4>安装方法二：扫二维码安装</h4>
            <ul>
                <li>使用您Pad的条码扫描程序，扫描下方的二维码，选择学生端进行下载。</li>
            </ul>
            <p align="center" style="margin-top:15px;"><img src=<%- m_student_png %> width="122" /></p>
        </div>
    </div>
</div>

<div class="alert_download teach_download container">
    <div class="row">
        <p class="title">老师端下载<a href="download.html#" class="close_button"><img src=<%- close_png %> /></a></p>
    </div>
    <div class="alert_load row">
        <div class="alert_downloadLeft col-sm-6">
            <h4>安装方法一：应用市场搜索安装</h4>
            <ul>
                <li>在App Store搜“理优1对1老师”，选择老师端进行安装。</li>
            </ul>
        </div>
        <div class="alert_downloadRight col-sm-6">
            <h4>安装方法二：扫二维码安装</h4>
            <ul>
                <li>使用您Pad的条码扫描程序，扫描下方的二维码，选择老师端进行下载。</li>
            </ul>
            <p align="center" style="margin-top:15px;"><img src=<%- m_teacher_png %> width="122" /></p>
        </div>
    </div>
</div>

