<div id="skrollr-body">
    <%- partial("./partial/_banner-home") %>
    <%- partial("./partial/_main-tutor") %>
    <%- partial("./partial/_main-map") %>
    <%- partial("./partial/_main-ipad") %>
    <%- partial("./partial/_main-student") %>
    <%- partial("./partial/_main-team") %>
</div>
<%- partial("./partial/_free-listen-modal") %>
<%- partial("./partial/_service-block") %>
