<div id="skrollr-body">
    <%- partial("partial/_banner-home") %>


    <section class="division"></section>
    <%- partial("partial/_main-team") %>
    <div class="division-sm"></div>
    <%- partial("partial/_main-student") %>
    <div class="division-md"></div>

</div>
<%- partial("partial/_free-listen-modal") %>
<%- partial("partial/_service-block") %>
