<div class="adv-wrap ver-no-padding">
    <section class="container width73per">
        <article class="clearfix no-max-img">
            <div class="col-md-3 col-xs-3">
                <div class="adv-info">
                    <p class="adv-wrap-txt"><%- locals.adv1.title %></p>
                    <a class="thumbnail-adv" href=<%- locals.adv1.href %> target="_blank" onclick="ga('send', 'event', 'link', 'click', 'M1 Btn');"><img src=<%- locals.adv1.image %>></a>
                    <div class="home-overlay-top">
                        <a target="_blank" href=<%- locals.adv1.href %> class="overlay-p-text" onclick="ga('send', 'event', 'link', 'click', 'M1 Btn');">
                            <span><%- locals.adv1.desc %></span>
                            <img src=<%- locals.adv1.arrow_image %> alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="adv-info">
                    <p class="adv-wrap-txt"><%- locals.adv2.title %></p>
                    <a class="thumbnail-adv" href=<%- locals.adv2.href %> target="_blank" onclick="ga('send', 'event', 'link', 'click', 'M2 Btn');"><img src=<%- locals.adv2.image %>></a>
                    <div class="home-overlay-top">
                        <a target="_blank" href=<%- locals.adv2.href %> class="overlay-p-text" onclick="ga('send', 'event', 'link', 'click', 'M2 Btn');">
                            <span><%- locals.adv2.desc %></span>
                            <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/banner_hover_arrow.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="adv-info">
                    <p class="adv-wrap-txt"><%- locals.adv3.title %></p>
                    <a class="thumbnail-adv" href=<%- locals.adv3.href %> target="_blank" onclick="ga('send', 'event', 'link', 'click', 'M3 Btn');"><img src=<%- locals.adv3.image %>></a>
                    <div class="home-overlay-top">
                        <a target="_blank" href=<%- locals.adv3.href %> class="overlay-p-text" onclick="ga('send', 'event', 'link', 'click', 'M3 Btn');">
                            <span><%- locals.adv3.desc %></span>
                            <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/banner_hover_arrow.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="adv-info">

                    <a class="thumbnail-adv" href="http://cn.vipabc.com/wnfs?fromwhere=qM9Gk8fcFL" onclick="ga('send', 'event', 'link', 'click', 'M4 Btn');"><img src=<%- locals.adv4.image %>> </a>
                    <div class="home-overlay-top">
                        <a target="_blank" href="http://cn.vipabc.com/wnfs?fromwhere=qM9Gk8fcFL" class="overlay-p-text" onclick="ga('send', 'event', 'link', 'click', 'M4 Btn');">
                            <span><%- locals.adv4.desc %></span>
                            <img src="http://source.vipabc.com/Ext/images/website/abc/homePage/v3/banner_hover_arrow.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
